<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
            <span style="font-size: 15px">Let's watch some</span><br>
            <a class="navbar-brand" href="#" (click)="ngOnInit()"><i>Series/वीरीज़</i></a>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" (click)="ngOnInit()">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="favorites">Favorites</a></li>
                    <li>
                    <form class="navbar-form navbar-right" role="search">
                    <input type="text" class="form-control" placeholder="search tvshows" #tvshowName>
                    <button type="submit" class="btn btn-default" (click)="findTVshow(tvshowName.value)"><i class="fa fa-search"></i></button>
                    </form>
                    </li>
                </ul>  
            </div>
    </div>
</nav>
                 
<br><br><br><br>

<section id="showcase" class="jumbotron">
    <div class="flex-container">
    <div *ngFor="let fav of favdb" id="flexy">
    
      <div class="card">
         <img class="myimg" src="https://image.tmdb.org/t/p/w500/{{fav.poster_path}}" alt="Card image">
           <div class="card-body">
                    <h1><b>{{fav.name}}</b></h1>
                    <!-- <p>{{fav.overview}}</p> -->
                    <p><b>Airing since:</b> {{fav.first_air_date}}</p>
                    <p><b>Country:</b> {{fav.origin_country}}</p>
                    <p><b>Rating: </b>{{fav.vote_average}}/10 ({{fav.vote_count}})</p>
                   
                   <li><a class="btn btn-default btn-lg showcase-btn" href="favorites" (click)="RemoveFromFav(fav)">Remove from Favorites</a></li>
            </div>
           </div>

        </div>
   </div>

<br><br>
</section>
