body {
    margin-top: 70px;

}

.navbar{
    font-family: "chilanka";
    width: 100%;
    font-size: 25px;
    height: 100px;
}

.navbar-brand {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 5px;
}



h1,h2,h3,h4,h5,h6 {
    font-family: 'Times New Roman', Times, serif;

}

p {
    font-family: "georgia";
    font-size: 20px;
    text-align: justify !important;
}

ul{ 
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0px;
}

li{
    display: inline;

}

li a{
    color: black;
    font-family: "chilanka";
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    color: white;
    background-color: #788;
    padding: 20px;
    border:1px dotted black;
}

#elab a{
    font-family: "chilanka";
}

#elab a:hover:not(.active) {
    color: black !important;
    padding: 20px !important;

}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

#elab{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 30px;
};


